@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* removing default browser css */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.selected {
    @apply border border-gray-500 shadow-lg rounded-lg
}

.note {
    @apply rounded-lg p-[1rem] min-h-[250px] flex flex-col justify-between max-w-[980px]
}

.note-footer {
    @apply flex justify-between
}

.logo {
    @apply font-extrabold text-2xl text-blue-900
}

body {
    font-family: sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.input {
    /* focus:ring-blue-500 focus:border-blue-500  */
    /* Dark Mode -> dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 */
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 
}

.btn {
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider
}